body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #27649A;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

header img {
  width: 24px;
  margin-right: 10px;
}

.container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #1F3974;
  color: white;
  padding: 10px;
}

td {
  border: 1px solid #000;
  padding: 10px;
}

select {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #555;
}

input[type="date"],
input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 90%;
}

.salir{
    font-size: 50px;
    color: #f0f0f0;
}

h1{
    font-size: 50px;
}

/* Oscurecer todo */
body.oscuro {
  background-color: #1b2a47;
  color: white;
}

body.oscuro .form-container,
body.oscuro .segundo-container,
body.oscuro .principal-container {
  background-color: #263b5c;
  color: white;
}

body.oscuro input,
body.oscuro button,
body.oscuro a {
  color: white;
  background-color: #1b2a47;
}

body.oscuro input::placeholder {
  color: #ccc;
}

body.oscuro button:hover {
  background-color: #356ba1;
}

body.oscuro .modal-config {
  background-color: #000;
}